.player {
  background-color: red;
  border: 0.1em solid green;
  border-radius: 2em;
  color: white;
  padding: 1em;
}

.gift {
  background-color: gold;
}

.draggable {
  cursor: move;
  position: absolute;
}
